{
  "prod": {
    "mode": "production",
    "PORT": "4000",
    "DB_IT_PORTAL_HOST": "",
    "DB_IT_PORTAL_NAME": "databaseName",
    "DB_IT_PORTAL_USERNAME": "",
    "DB_IT_PORTAL_PASSWORD": ""
  },
  "dev": {
    "PORT": "5000",
    "DB_IT_PORTAL_HOST": "",
    "DB_IT_PORTAL_NAME": "databaseName",
    "DB_IT_PORTAL_USERNAME": "",
    "DB_IT_PORTAL_PASSWORD": ""
  }
}
