{
  "production": {
    "PORT": "4000",
    "DB_NAME": "",
    "DB_USERNAME": "",
    "DB_PASSWORD": ""
  },
  "dev": {
    "PORT": "5000",
    "DB_NAME": "",
    "DB_USERNAME": "",
    "DB_PASSWORD": ""
  },
  "test": {
    "PORT": "3000"
  }
}
